<div data-role="page" id="about-page">

  {{> page_header}}

  <div data-role="content" class="content">
    <h2>About</h2>

    <div data-role="collapsible">
      <h3>What is this?</h3> 
      <p>This is an experiment at building a mobile website with HTML5.  
        It's goal is to make it very easy to look up ways to get home via public transport, ideally without having to type anything into your phone or even know your current address.
      </p>
      <p>
         All travel information is currently sourced from <a href="http://www.131500.com.au/about-us">Transport Info 131500</a>.  
         <a href="http://getmeho.me">Get Me Home</a> can be considered an optimised version of their website, designed specifically for
          use with mobile phones.
      </p>
    </div>

    <div data-role="collapsible">
      <h3>Privacy</h3> 
      <p><strong>Your privacy is paramount!</strong> Neither your current location or address are permanently stored on our servers.  
         We do not sell your location information to any third parties.  However, in order for this service to operate
         your information has to be forwarded to third parties.  Currently your current geo location is sent to <strong>Google</strong> in order
         to get your current address.  Your current address and home address are then forwarded onto <a href="http://www.131500.com.au/about-us">Transport Info 131500</a>
         in order to get journey information.
      </p>
    </div>

    <div data-role="collapsible">
      <h3>What areas do you support?</h3> 
      <p><strong>Greater Sydney Metropolitan Area</strong></p>
    </div>


    <div data-role="collapsible">
      <h3>Where do you get your journey information?</h3> 
      <p><a href="http://www.131500.com.au/about-us">Transport Info 131500</a></p>
    </div>

    <div data-role="collapsible">
      <h3>What technologies are used by this site?</h3> 
      <p><a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="http://jquerymobile.com/">jQuery Mobile</a>, <a href="http://mustache.github.com/">Mustache</a></p>
    </div>


    <div data-role="collapsible">
      <h3>Who made this?</h3> 
      <p><a href="http://o-sam-o.github.com/">Sam Cavenagh</a></p>
    </div>

    <div data-role="collapsible">
      <h3>Credits</h3> 
      <p>
        Icons and images on this site are from:
        <ul>
          <li><a href="http://www.picol.org/">Picol</a></li>
          <li><a href="http://iconlibrary.iconshock.com/icons/free-icon-sets-55-user-icons-part-1/">Iconshock</a></li>
          <li><a href="http://glyphish.com/">Glyphish</a></li>
        </ul>
      </p>
    </div>

  </div>

  {{> page_footer}}

</div>
