{{> pages/welcome_page}}

{{> pages/landing_page}}

{{> pages/address_form_page}}

{{> pages/fail_page}}

{{> pages/no_geo_page}}

{{> pages/about_page}}

<div data-role="page" id="trips-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="change-origin-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="change-destination-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<script id="trip-template" type="text/html">
  {{{raw_trips_template}}}
</script>

<script id="other-location-template" type="text/html">
  {{{raw_other_locations_template}}}
</script>
