<div id="welcome-page" data-role="page">

  <div data-role="content" class="content">
    <div id="welcome-text" class="triangle-border">
      <p><strong>Welcome</strong> to Get Me Home,</p>
      This is a simple mobile website that finds the quickest way for you to get home.
      Enter your address below, and then with the help of GPS in your phone
      I'll find out when your next bus, train or ferry leaves.
    </div>

    <div class="character left-bubble"></div>

      <form id="address-form" data-ajax="false" class="triangle-border top">
        <div data-role="fieldcontain">
          <label for="address">Your address:</label>
          <input name="address" type="text"/>
          <input type="submit" id="enter-address-button" value="Save Address"/>
        </div>
      </form>
  </div>

  {{> page_footer}}

</div>

<div id="landing-page" data-role="page">

  {{> page_header}}

  <div data-role="content" class="content">
    <div id="landing-text" class="triangle-border">
      <p>So you want to going to <span class="home-address"></span>?</p>
      <span class="current-lat-log-location"></span>
    </div>
    <div class="character left-bubble"></div>

    <form data-ajax="false">
      <input type="submit" id="get-me-home-button" value="Get Me Home!"/>
    </form>
  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="trips-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="change-origin-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="change-destination-page">

  {{> page_header}}

  <div data-role="content" class="content">

  </div>

  {{> page_footer}}

</div>

<div data-role="page" id="about-page">

  {{> page_header}}

  <div data-role="content" class="content">
    <h2>About</h2>
    <p>TODO put some about text here</p>
  </div>

  {{> page_footer}}

</div>

<script id="trip-template" type="text/html">
  {{{raw_trips_template}}}
</script>

<script id="other-location-template" type="text/html">
  {{{raw_other_location_template}}}
</script>
