<div data-role="fieldcontain">
  <h3>Change {{type}}:</h3>
  <fieldset data-role="controlgroup">
    {{#others}}
      <input type="radio" name="{{type}}-radio" value="{{name}}"
          id="{{type}}-{{index}}-ratio-selection"
          {{#selected}}checked="checked"{{/selected}} />
      <label for="{{type}}-{{index}}-ratio-selection">{{name}}</label>
    {{/others}}

    <input type="radio" name="{{type}}-radio"
        id="{{type}}-user-input-selection"
        value="user-input"  />
    <label for="{{type}}-user-input-selection">Other</label>
  </fieldset>

  <div id="other-{{type}}-field" style="display: none">
    <label for="other-{{type}}">Enter Address:</label>
    <input name="other-{{type}}" type="text" value="{{name}}"/>
  </div>

  <form data-ajax="false">
    <input type="submit" class="get-me-home-change-location" value="Get Me Home!"/>
  </form>
</div>
